* {
    margin:0;
    padding: 0;
}

body {
    --text-white: #ffffff;
    --title-color : #353535;
    --text-color: #686b78;
    --light-green: #00ad1d;
    --primary-color: #D42A58;
    --border-color: #d3d5df;
}

.logo {
    width: auto;
    height: 50px;
}
/*Header style*/
.header {
    height: 80px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-white);
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
}
.nav-items>ul {
    display: flex;
}
.nav-items>ul>li {
    list-style-type: none;
    padding: 10px;
}


/*Body CSS*/
.search-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    max-width: 100%
}
.search-container .input-type {
    padding: 15px;
    width: 40%;
    color: #000;
    border: 1px solid var(--border-color);
    border-radius: 5px 0 0 5px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    outline: none;
}
.search-container .search-btn {
    padding: 15px 20px;
    margin-left: -4px;
    background-color: var(--primary-color);
    color: var(--text-white);
    border: none;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    outline: none;
    cursor: pointer;
}
/*Restaurant card style*/
.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25
}
.card {
    flex-basis: 250px;
    padding: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.card:hover {
    border-color: var(--border-color);
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.card .restro-pic>img {
    width: 100%;
    height: 160px;
    object-fit: fill;
    
}
.card .restro-details h3 {
    margin-top: 10px;
    color: var(--text-title);
}
.restro-details h5 {
    font-weight: lighter;
    color: var(--text-color);
}
.card .food-details {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.food-details>h4:first-child {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: var(--text-white);
    background-color: var(--light-green);
}
.food-details h4 {
    color: var(--title-color);
}

.footer {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-white);
}

/*Shimmer CSS */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
  .shimmer-card {
    flex-basis: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: var(--border-color);
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  }
  .shimmer-title {
    width: 60%;
    margin-top: 10px;
  }
  .shimmer-tags {
    width: 80%;
    margin-top: 4px;
  }
  .shimmer-details {
    width: 100%;
    margin-top: 18px;
  }
  .shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
  }
  
  /*Animation to Shimmer Component Cards */
  .stroke {
    height: 15px;
    background: #777;
  }
  .animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
  }
  @keyframes shimmer {
    from {
      background-position: -1000px 0;
    }
    to {
      background-position: 1000px 0;
    }
  }
